<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <meta name="author" content="{{ AUTHOR }}">
      <meta name="copyright" content="{{ AUTHOR }}">
      
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/manni.css">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

      <!-- Atom feed -->
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} atom feed" />
      {% endif %}

    {% endblock head %}
  </head>

  <body>
    <div class="container">
      {% include "header.html" %}
      
      {% block content %}
      {% endblock %}
      
      {% include "footer.html" %}
    </div> <!-- /container -->
  </body>
</html>
